extends ../base

block content 
  div#videoContainer(data-id=video._id)
    video(src=video.fileUrl crossorigin)
    div#videoControls.videoControls
      div.videoControls__play
        span#play.videoControls__playBtn
          i.fas.fa-play
        div.videoControls__time
          span#currentTime 00:00
          span  / 
          span#totalTime 00:00
      input(type="range" step="1" value="0" min="0")#timeline.videoControls__timeline
      div.videoControls__volume
        input(type="range" step="0.1", value=0.5, min="0" max="1")#volume
        span#mute
          i.fas.fa-volume-up
        span#fullScreen
          i.fas.fa-expand

  div.video__data
    p.video__title=video.title
    div.owner
      a(href=`/users/${loggedInUser._id}`)
        img.owner-avatar(src=video.owner.avatarUrl crossorigin)
      div
        a(href=`/users/${video.owner._id}`) #{video.owner.name}
        p="1102K subScriber"
      div.controlls
        if String(video.owner._id.toString()) === String(loggedInUser._id) || loggedInUser.identifier ==="admin"
          a.button(href=`${video.id}/edit`) Edit Video &rarr; 
          br
          a.button(href=`${video.id}/delete`) Delete Video &rarr;

    div.video__info
      div
        span #{video.meta.views} views
        span=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
      span.video__info-center=video.hashtags
      span=video.description

  if loggedIn
    div.add__comment
      form.add__comment-form#commentForm
        textarea(placeholder="Write a nice commment...")
        button Add Comment

  div.comments
    ul 
      each comment in video.comments.reverse()
        li#videoComment.comments__content
          span.comment__name=comment.name
          div
            span=comment.text
            span.comment__date=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if String(comment.owner) === String(loggedInUser._id)
            button.comment-delete.fa-solid.fa-trash-can.fa-2xl#deleteCommentBtn(data-id=comment._id)(data-videoId=video._id)

block scripts  
  script(src="/static/js/videoPlayer.js") 
  if loggedIn 
    script(src="/static/js/videoComment.js")