mixin community(community)
  div.home__content#communityView(data-id=community._id)
    div.home__content-header
      span [#{community.division}]
      a(href=`/community/${community.id}`)=community.title
    div.home__content-owner
      span.owner__name #{community.owner.name}
      span.owner__date=new Date(community.createdAt).toLocaleDateString("ko-kr", {year: 'numeric', month: 'long', day: 'numeric'})
      span.owner__views 조회 #{community.meta.views} 회

