mixin notice(notice)
  div
    h4 
      a(href=`/notice/${notice.id}`)#noticeView(data-id=notice._id)=notice.title
      br
      span #{notice.owner.name} • 
      span #{notice.meta.views} 회
      br
      small=new Date(notice.createdAt).toLocaleDateString("ko-kr", {year: 'numeric', month: 'long', day: 'numeric'})


