mixin notice(notice)
  div.notice__content
    h4 
      a(href=`/notice/${notice.id}`)#noticeView(data-id=notice._id) [공지사항] #{notice.title}
    div
      span.notice__name #{notice.owner.name}
      small.notice__date=new Date(notice.createdAt).toLocaleDateString("ko-kr", {year: 'numeric', month: 'long', day: 'numeric'})
      small.notice__views 조회 #{notice.meta.views} 회

