extends ../base

block content 
  div#communityContainer(data-id=communities._id)
    div.title__total
      div.title__content-read
        span.title__content-title #{communities.title}
        span.title__content-date=new Date(communities.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
      div.title__content-contents
        div.contents__info
          span 분류 : #{communities.division}
        pre 
          p=communities.contents

  div.owner
    img.owner-avatar(src=communities.owner.avatarUrl crossorigin)
    div
      a(href=`/users/${communities.owner._id}`) #{communities.owner.name}
      p="1102K subScriber"
    div.controlls
      if String(communities.owner._id.toString()) === String(loggedInUser._id) || loggedInUser.identifier ==="admin"
        a.button(href=`${communities.id}/edit`) Edit &rarr; 
        br
        a.button(href=`${communities.id}/delete`) Delete &rarr;

  if loggedIn
    div.add__comment
      form.add__comment-form#commentForm
        textarea(placeholder="Write a nice commment...")
        button Add Comment

    div.comments
    ul 
      each comment in communities.comments.reverse()
        li#communityComment.comments__content
          span.comment__name=comment.name
          div
            span=comment.text
            span.comment__date=new Date(communities.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if String(comment.owner) === String(loggedInUser._id)
            button.comment-delete.fa-solid.fa-trash-can.fa-2xl#deleteCommentBtn(data-id=comment._id)(data-communityId=communities._id)

block scripts 
  if loggedIn
    script(src="../static/js/communityComment.js")