extends ../base

block content 
  div 
    h4=communities.title
    small=communities.createdAt
    h5=communities.division
    pre 
      p=communities.contents
  div 
    small
      a(href=`/users/${communities.owner._id}`) #{communities.owner.name}
  if String(communities.owner._id.toString()) === String(loggedInUser._id)
    br
    a(href=`${communities.id}/edit`) Edit Community &rarr; 
    br
    a(href=`${communities.id}/delete`) Delete Community &rarr;