extends ../base

block content
  div.avatar-box
    img.avatar-change(src=loggedInUser.avatarUrl)
  form.form__post(method="post" enctype="multipart/form-data") 
    label(for="Avatal")
    input.form__post-space(type="file" accept="image/*" id="avatar" name="avatar")
    input.form__post-space(placeholder="Email" name="email" type="text", required value=loggedInUser.email)
    if emailError 
      h5=emailError
    input.form__post-space(placeholder="Name" name="name" type="text", required value=loggedInUser.name)
    input.form__post-space(placeholder="Location" name="location" type="text", required value=loggedInUser.location)
    input(type="submit" value="UPDATE")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr;